<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yooram.mybatis.postMapper">
	<select id="list" resultType="PostDto">
		SELECT * FROM tblpost
	</select>
	<select id="detail" parameterType="PostDto" resultType="PostDto">
		SELECT * FROM tblpost WHERE board_id=#{board_id} and post_id=#{post_id}
	</select>
	<update id="update" parameterType="PostDto">
		UPDATE tblpost SET post_title=#{post_title} and post_content=#{post_content}
		WHERE board_id=#{board_id} and post_id=#{post_id}
	</update>
</mapper>