<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="com.yooram.domain.PostDto" alias="PostDto"/>
		<typeAlias type="com.yooram.domain.Place" alias="Place"/>
		<typeAlias type="com.yooram.domain.UserDto" alias="UserDto"/>
	</typeAliases>
</configuration>